.container {
  @apply text-center;
  @apply flex justify-center items-center flex-col;
}
.headline {
  @apply text-9xl tracking-tighter font-medium;
  span {
    background: linear-gradient(90deg, #007cf0 -9.38%, #00dfd8 110.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.subtitle {
  @apply text-2xl text-gray-600;
}
.brain-bg {
  @apply absolute;
}
